<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create Category</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<section class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <h2>Create Category</h2>
      <form th:action="@{/admin/create-category}" th:object="${category}" method="post">
        <div class="form-group">
          <label for="name">Category Name</label>
          <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Enter category name">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>

    </div>
  </div>
</section>

<!-- Include Bootstrap and JavaScript libraries -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
