<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>View Users</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<header>
  <div th:insert="fragments/header :: headerFragment"></div>
</header>
<section class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <h2>View Users</h2>
      <ul class="list-group">
        <li th:each="user : ${users.content}" class="list-group-item">
          <div class="d-flex justify-content-between">
            <div>
              <a th:href="@{/profile/{id}(id=${user.id})}">
                <h5 class="list-group-item-heading" th:text="${user.fullName}">User Full Name</h5>
              </a>
              <p th:text="${user.email}">User Email</p>
              <p th:text="${user.username}">Username</p>
            </div>
            <div>
              <form th:if="${isAdmin and user.id != loggedInUser.id}" th:action="@{/admin/delete-user/{id}(id=${user.id})}" method="post" style="display:inline;">
                <button class="btn btn-danger" type="submit">Delete User</button>
              </form>
            </div>
          </div>
        </li>
      </ul>
      <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination">
          <li th:if="${users.hasNext()}" class="page-item">
            <a class="page-link" th:href="@{/admin/view-users(page=${users.number - 1})}">Previous</a>
          </li>
          <li th:each="page : ${#numbers.sequence(0, users.totalPages - 1)}" class="page-item">
            <a class="page-link" th:href="@{/admin/view-users(page=${page})}" th:text="${page + 1}"></a>
          </li>
          <li th:if="${users.hasNext()}" class="page-item">
            <a class="page-link" th:href="@{/admin/view-users(page=${users.number + 1})}">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
